.FileInputButton {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.FileInputButton label {
	min-width: 200px;
	min-height: 70px;
	font-size: 32px;
	background-color: var(--blue);
	border: none;
	border-radius: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 1rem 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.FileInputButton label:hover {
	background-color: var(--dark-blue);
}

.FileInputButton input {
	display: none;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}