.App {
	text-align: center;
	padding: 5rem;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	font-size: max(0.5em, 11px);
	color: var(--gray);
	display: flex;
	align-items: center;
	justify-content: center;
}